/***** GENERAL STYLES *****/

* {
  /* setting width will include any padding and border; content will shrink to absorb any extra width */
  box-sizing: border-box;
  /* global reset: all elements will have a padding and margin on 0 unless specified later */
  margin: 0;
  padding: 0;
}

html {
  /* Equivalent to 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
}

a {
  color: #424242;
  text-decoration: none;
}

.container {
  margin: 2em 4.4em;
}

footer {
  font-size: 1.3rem;
  position:absolute;
  bottom: 1em;
  text-align: center;
  width: 100%;
}

footer a {
  color: #76CBCA;
}

/***** MAIN SEARCH *****/

nav {
  display: flex;
  font-size: 1.3rem;
  justify-content: flex-end;
}

.main-search nav a,
.image-search nav a {
  margin-left: 1.4em;
}

nav a:hover {
  text-decoration: underline;
}

.main-search form,
.image-search form {
  color: #616161;
  display: flex;
  flex-direction: column;
  margin: 4em;
}

img {
  margin: 0 auto;
  width: 28%;
}

.main-search input[type=text],
.image-search input[type=text] {
  border-radius: 100px;
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  font-size: 1.6rem;
  margin: 0 auto;
  outline: none;
  padding: 1em;
  width: 51%;

  background-image: url('search_icon.png');
  background-size: 15px 15px;
  background-position: 14px 18px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.main-search input[type=text]:hover,
.image-search input[type=text]:hover {
  border-color: transparent;
  box-shadow: 0 1px 6px #BDBDBD;
}

.buttons {
  display: flex;
  margin-top: 3em;
  justify-content: center;
}

.main-search input[type=submit],
.image-search input[type=submit] {
  border: 1.6px solid #F5F5F5;
  border-radius: 3px;
  background-color: #F5F5F5;
  color: #424242;
  font-size: 1.4rem;
  margin: 0 0.8em;
  padding: 0.8em 1.2em;
}

.main-search input[type=submit]:hover,
.image-search input[type=submit]:hover {
  border-color: #E0E0E0;
  cursor: pointer;
  box-shadow: 0 1px 1px #E0E0E0;
}

/***** IMAGE SEARCH *****/

.image-search input {
  margin-top: 1em;
}

/***** ADVANCED SEARCH *****/

.advanced-search .container {
  margin: 2em 2em;
}

.advanced-search nav {
  justify-content: space-between;
}

.advanced-search a {
  text-align: end;
  width: 10em;
}

.advanced-search .image {
  text-align: start;
  width: 20em;
}

h1 {
  color: #DB4437;
  font-weight: 500;
  margin-top: 2em;
  margin-left: 2.6em;
}

hr {
  border: 1px solid #F5F5F5;
  margin-top: 2.4em;
 }

 .advanced-search form {
   margin: auto;
   margin-top: 4em;
   width: 92%;
 }

 .section-titles {
   display: flex;
   justify-content: space-between;
 }

 .section-titles p {
   width: 36%;
 }

 .title-1 {
   color: #424242;
   font-size: 1.6rem;
 }

 .title-2 {
   color: #757575;
   font-size: 1.3rem;
   font-weight: 600;
 }

 .input-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1.6em 0;
 }

 .input-row-text-1 {
  color: #424242;
  font-size: 1.3rem;
  margin-right: 1.2em;
  width: 25%;
 }

 .advanced-search-inputs input {
  border: 1.6px solid #E0E0E0;
  border-radius: 0;
  height: 2.2em;
  width: 95%;
 }

 .input-row-text-2 {
  color: #616161;
  font-size: 1.1rem;
  margin-left: 1.5em;
  width: 67%;
 }

 .advanced-search input[type=text] {
   padding: 0 0.6em;
 }

 .advanced-search input[type=submit] {
   background-color: #4285F4;
   border-radius: 3px;
   border-color: #3b7eeb;
   color: white;
   font-size: 1.1rem;
   font-weight: 600;
   height: 3em;
   width: 11%;
   margin-left: 56.5em;
 }
 
 .advanced-search input[type=submit]:hover {
  background-color: #3b7eeb;
 }