/***** GENERAL STYLES *****/

* {
  /* setting width will include any padding and border; content will shrink to absorb any extra width */
  box-sizing: border-box;
  /* global reset: all elements will have a padding and margin on 0 unless specified later */
  margin: 0;
  padding: 0;
}

html {
  /* Equivalent to 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
}

a {
  color: #424242;
  text-decoration: none;
}

.container {
  margin: 2em 4.4em;
}

/***** MAIN SEARCH *****/

nav {
  display: flex;
  font-size: 1.3rem;
  justify-content: flex-end;
}

nav a {
  margin-left: 1.4em;
}

nav a:hover {
  text-decoration: underline;
}

form {
  color: #616161;
  display: flex;
  flex-direction: column;
  margin: 4em;
}

img {
  margin: 0 auto;
  width: 28%;
}

input[type=text] {
  border-radius: 100px;
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  font-size: 1.6rem;
  margin: 0 auto;
  outline: none;
  padding: 1em;
  width: 51%;

  background-image: url('search_icon.png');
  background-size: 15px 15px;
  background-position: 14px 18px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

input[type=text]:hover {
  border-color: transparent;
  box-shadow: 0 1px 6px #BDBDBD;
}

.buttons {
  display: flex;
  margin-top: 3em;
  justify-content: center;
}

input[type=submit] {
  border: 1.6px solid #F5F5F5;
  border-radius: 3px;
  background-color: #F5F5F5;
  color: #424242;
  font-size: 1.4rem;
  margin: 0 0.8em;
  padding: 0.8em 1.2em;
}

input[type=submit]:hover {
  border-color: #E0E0E0;
  cursor: pointer;
  box-shadow: 0 1px 1px #E0E0E0;
}

/***** IMAGE SEARCH *****/

.image-search input {
  margin-top: 1em;
}

/***** ADVANCED SEARCH *****/